
>   concatenate data from different paths using merge and join functions to do the below : <br>
    1. outer join <br>
    2. inner join <br>
    3. left join<br>
    4.right join

In [2]:
import pandas as pd

### Reading Files

In [3]:
user_device = pd.read_csv('user_device.csv')
user_usage = pd.read_csv('user_usage.csv')

In [14]:
print(user_device.shape)
user_device.head()

(272, 6)

   use_id  user_id platform  platform_version     device  use_type_id
0   22782    26980      ios              10.2  iPhone7,2            2
1   22783    29628  android               6.0    Nexus 5            3
2   22784    28473  android               5.1   SM-G903F            1
3   22785    15200      ios              10.2  iPhone7,2            3
4   22786    28239  android               6.0  ONE E1003            1

In [15]:
print(user_usage.shape)
user_usage.head()

(240, 4)

   outgoing_mins_per_month  outgoing_sms_per_month  monthly_mb  use_id
0                    21.97                    4.82     1557.33   22787
1                  1710.08                  136.88     7267.55   22788
2                  1710.08                  136.88     7267.55   22789
3                    94.46                   35.17      519.12   22790
4                    71.59                   79.26     1557.33   22792

### 1. outer join

In [11]:
#with merge
pd.merge(user_device,user_usage,on='use_id',how='outer')

,use_id,user_id,platform,platform_version,device,use_type_id,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb
0,22782,26980.0,ios,10.2,"iPhone7,2",2.0,NaN,NaN,NaN
1,22783,29628.0,android,6.0,Nexus 5,3.0,NaN,NaN,NaN
2,22784,28473.0,android,5.1,SM-G903F,1.0,NaN,NaN,NaN
3,22785,15200.0,ios,10.2,"iPhone7,2",3.0,NaN,NaN,NaN
4,22786,28239.0,android,6.0,ONE E1003,1.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
348,25008,NaN,NaN,NaN,NaN,NaN,260.66,68.44,896.96
349,25040,NaN,NaN,NaN,NaN,NaN,97.12,36.50,2815.00
350,25046,NaN,NaN,NaN,NaN,NaN,355.93,12.37,6828.09
351,25058,NaN,NaN,NaN,NaN,NaN,632.06,120.46,1453.16
352,25220,NaN,NaN,NaN,NaN,NaN,488.70,906.92,3089.85

In [21]:
#with join 
user_device.join(user_usage, on='use_id', how='outer', lsuffix='_device', rsuffix='_usage', sort=False).drop(['use_id'],axis = 1)

,use_id_device,user_id,platform,platform_version,device,use_type_id,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id_usage
0.0,22782.0,26980.0,ios,10.2,"iPhone7,2",2.0,NaN,NaN,NaN,NaN
1.0,22783.0,29628.0,android,6.0,Nexus 5,3.0,NaN,NaN,NaN,NaN
2.0,22784.0,28473.0,android,5.1,SM-G903F,1.0,NaN,NaN,NaN,NaN
3.0,22785.0,15200.0,ios,10.2,"iPhone7,2",3.0,NaN,NaN,NaN,NaN
4.0,22786.0,28239.0,android,6.0,ONE E1003,1.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
NaN,NaN,NaN,NaN,NaN,NaN,NaN,260.66,68.44,896.96,25008.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.12,36.50,2815.00,25040.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,355.93,12.37,6828.09,25046.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,632.06,120.46,1453.16,25058.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,488.70,906.92,3089.85,25220.0

### 2. inner join

In [6]:
#with merge
pd.merge(user_device,user_usage,on='use_id',how='inner')

,use_id,user_id,platform,platform_version,device,use_type_id,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb
0,22787,12921,android,4.3,GT-I9505,1,21.97,4.82,1557.33
1,22788,28714,android,6.0,SM-G930F,1,1710.08,136.88,7267.55
2,22789,28714,android,6.0,SM-G930F,1,1710.08,136.88,7267.55
3,22790,29592,android,5.1,D2303,1,94.46,35.17,519.12
4,22792,28217,android,5.1,SM-G361F,1,71.59,79.26,1557.33
...,...,...,...,...,...,...,...,...,...
154,23043,28953,android,6.0,SM-G900F,1,198.59,90.49,5191.12
155,23044,28953,android,6.0,SM-G900F,1,198.59,90.49,3114.67
156,23046,29454,android,6.0,Moto G (4),1,106.65,82.13,5191.12
157,23049,29725,android,6.0,SM-G900F,1,344.53,20.53,519.12
158,23053,20257,android,5.1,Vodafone Smart ultra 6,1,42.75,46.83,5191.12

In [9]:
#with join 
user_device.set_index('use_id').join(user_usage.set_index('use_id'), on='use_id', how='inner').reset_index()

,use_id,user_id,platform,platform_version,device,use_type_id,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb
0,22787,12921,android,4.3,GT-I9505,1,21.97,4.82,1557.33
1,22788,28714,android,6.0,SM-G930F,1,1710.08,136.88,7267.55
2,22789,28714,android,6.0,SM-G930F,1,1710.08,136.88,7267.55
3,22790,29592,android,5.1,D2303,1,94.46,35.17,519.12
4,22792,28217,android,5.1,SM-G361F,1,71.59,79.26,1557.33
...,...,...,...,...,...,...,...,...,...
154,23043,28953,android,6.0,SM-G900F,1,198.59,90.49,5191.12
155,23044,28953,android,6.0,SM-G900F,1,198.59,90.49,3114.67
156,23046,29454,android,6.0,Moto G (4),1,106.65,82.13,5191.12
157,23049,29725,android,6.0,SM-G900F,1,344.53,20.53,519.12
158,23053,20257,android,5.1,Vodafone Smart ultra 6,1,42.75,46.83,5191.12

### 3. left join

In [24]:
#merge 
pd.merge(user_device,user_usage,on='use_id',how='left')

,use_id,user_id,platform,platform_version,device,use_type_id,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb
0,22782,26980,ios,10.2,"iPhone7,2",2,NaN,NaN,NaN
1,22783,29628,android,6.0,Nexus 5,3,NaN,NaN,NaN
2,22784,28473,android,5.1,SM-G903F,1,NaN,NaN,NaN
3,22785,15200,ios,10.2,"iPhone7,2",3,NaN,NaN,NaN
4,22786,28239,android,6.0,ONE E1003,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
267,23049,29725,android,6.0,SM-G900F,1,344.53,20.53,519.12
268,23050,29726,ios,10.2,"iPhone7,2",3,NaN,NaN,NaN
269,23051,29726,ios,10.2,"iPhone7,2",3,NaN,NaN,NaN
270,23052,29727,ios,10.1,"iPhone8,4",3,NaN,NaN,NaN
271,23053,20257,android,5.1,Vodafone Smart ultra 6,1,42.75,46.83,5191.12

In [25]:
#join
user_device.set_index('use_id').join(user_usage.set_index('use_id'), on='use_id', how='left').reset_index()

,use_id,user_id,platform,platform_version,device,use_type_id,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb
0,22782,26980,ios,10.2,"iPhone7,2",2,NaN,NaN,NaN
1,22783,29628,android,6.0,Nexus 5,3,NaN,NaN,NaN
2,22784,28473,android,5.1,SM-G903F,1,NaN,NaN,NaN
3,22785,15200,ios,10.2,"iPhone7,2",3,NaN,NaN,NaN
4,22786,28239,android,6.0,ONE E1003,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
267,23049,29725,android,6.0,SM-G900F,1,344.53,20.53,519.12
268,23050,29726,ios,10.2,"iPhone7,2",3,NaN,NaN,NaN
269,23051,29726,ios,10.2,"iPhone7,2",3,NaN,NaN,NaN
270,23052,29727,ios,10.1,"iPhone8,4",3,NaN,NaN,NaN
271,23053,20257,android,5.1,Vodafone Smart ultra 6,1,42.75,46.83,5191.12

### 4. right join

In [23]:
#merge
pd.merge(user_device,user_usage,on='use_id',how='right')

,use_id,user_id,platform,platform_version,device,use_type_id,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb
0,22787,12921.0,android,4.3,GT-I9505,1.0,21.97,4.82,1557.33
1,22788,28714.0,android,6.0,SM-G930F,1.0,1710.08,136.88,7267.55
2,22789,28714.0,android,6.0,SM-G930F,1.0,1710.08,136.88,7267.55
3,22790,29592.0,android,5.1,D2303,1.0,94.46,35.17,519.12
4,22792,28217.0,android,5.1,SM-G361F,1.0,71.59,79.26,1557.33
...,...,...,...,...,...,...,...,...,...
235,25008,NaN,NaN,NaN,NaN,NaN,260.66,68.44,896.96
236,25040,NaN,NaN,NaN,NaN,NaN,97.12,36.50,2815.00
237,25046,NaN,NaN,NaN,NaN,NaN,355.93,12.37,6828.09
238,25058,NaN,NaN,NaN,NaN,NaN,632.06,120.46,1453.16
239,25220,NaN,NaN,NaN,NaN,NaN,488.70,906.92,3089.85

In [26]:
#join
user_device.set_index('use_id').join(user_usage.set_index('use_id'), on='use_id', how='right').reset_index()

,index,use_id,user_id,platform,platform_version,device,use_type_id,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb
0,22787.0,22787,12921.0,android,4.3,GT-I9505,1.0,21.97,4.82,1557.33
1,22788.0,22788,28714.0,android,6.0,SM-G930F,1.0,1710.08,136.88,7267.55
2,22789.0,22789,28714.0,android,6.0,SM-G930F,1.0,1710.08,136.88,7267.55
3,22790.0,22790,29592.0,android,5.1,D2303,1.0,94.46,35.17,519.12
4,22792.0,22792,28217.0,android,5.1,SM-G361F,1.0,71.59,79.26,1557.33
...,...,...,...,...,...,...,...,...,...,...
235,NaN,25008,NaN,NaN,NaN,NaN,NaN,260.66,68.44,896.96
236,NaN,25040,NaN,NaN,NaN,NaN,NaN,97.12,36.50,2815.00
237,NaN,25046,NaN,NaN,NaN,NaN,NaN,355.93,12.37,6828.09
238,NaN,25058,NaN,NaN,NaN,NaN,NaN,632.06,120.46,1453.16
239,NaN,25220,NaN,NaN,NaN,NaN,NaN,488.70,906.92,3089.85